@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");

html {
  font-family: "Nunito Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 1.05rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 36px;
}

.container {
  margin: 0 auto;
  width: 90vw;
  padding: 1rem;
}

footer {
  width: 100%;
  text-align: center;
  margin: 20px;
  font-size: 0.9em;
}

@media screen and (max-width: 479px) {
  footer {
    margin: 20px 0;
  }
}
