@import url("https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-size: 1.05rem;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 36px;
}

.container {
  margin: 0 auto;
  width: 90vw;
  padding: 1rem;
  padding-top: 7.5em;
  position: relative;
  min-height: 100vh;
}

.greenbar {
  position: fixed;
  content: "";
  height: 80%;
  transform: rotate(-10deg);
  width: 150%;
  left: -25%;
  background: #77dd77;
  z-index: -2;
  box-shadow: 0px 0px 20px 0px #00000040;
}

.redbar {
  position: fixed;
  content: "";
  height: 20%;
  transform: rotate(5deg);
  width: 130%;
  bottom: -10%;
  left: -10%;
  background: #ff4e50;
  z-index: -1;
  box-shadow: 0px 0px 20px 0px #00000050;
}

@media screen and (max-width: 1000px) {
  .greenbar {
    height: 70%;
    bottom: 15%;
  }
  .redbar {
    height: 25%;
  }
}

footer {
  width: 100%;
  text-align: center;
  margin: 2em 0;
  font-size: 0.9em;
  font-weight: 400;
  bottom: 0;
  position: absolute;
  color: white;
}

@media screen and (max-width: 479px) {
  footer {
    margin: 20px 0;
  }
}
